.react-horizontal-scrolling-menu--scroll-wrapper  {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  span {
    display: block;
    color: var(--red-color);
    text-align: center;
    border: 1px solid var(--red-color);
    padding: 10px;
    margin: 15px 0;
  }


